{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="UTF-8">
    <title>Django Smart Search</title>
</head>

<body>

<div class="page">

    <div class="title-center">
        Django Smart Search
    </div>

    <form method="GET" class="search-bar">
        <input
            type="text"
            name="q"
            placeholder="Search..."
            value="{{ query }}"
        >
        <button type="submit" class="search-btn">
            <img src="{% static 'icon/dj_smart_search_logo.png' %}" alt="Search">
        </button>
    </form>

    <div class="results">

        {% if query %}
            {% if results %}
                {% for r in results %}
                    <div class="result-item">

                        {% if r.url %}
                            <a href="{{ r.url }}" target="_blank">
                                <h3>
                                    {{ r.title }}
                                    <span class="difficulty difficulty-{{ r.difficulty|lower }}">
                                        {{ r.difficulty }}
                                    </span>
                                </h3>
                            </a>
                        {% else %}
                            <h3>{{ r.title }}</h3>
                        {% endif %}

<!--                        <p>File: {{ r.file }}</p>-->
                        <p>Hybrid Score: {{ r.score|floatformat:2 }}</p>
<!--                        <p>{{ r.difficulty }}</p>-->
                        {% if r.text_excerpt %}
                            <p class="text_excerpt">
                                {{ r.text_excerpt|safe }}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        {% else %}
            <p>Type something to search</p>
        {% endif %}

    </div>

</div>
<div id="loading-overlay">
    <div class="orbit">
        <img src="{% static 'icon/dj_smart_search_logo.png' %}" alt="Loading">
    </div>
</div>
<script>
document.querySelector(".search-bar").addEventListener("submit", function () {
    document.getElementById("loading-overlay").style.display = "flex";
});
</script>
</body>
</html>